<h1>Instrument's index page!</h1>

<% @instruments.each do |instrument| %>
<p>
<label for="naem">Instrument's name: </label>
<%= instrument.name %>
<br>
<label for="classification">Instrument's classification</label>
<%= instrument.classification %>  
</p> 
<% end %>